<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        LovingBookStore: Admin Dashboard
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></i></span>
                        <span class="title">
                            <h2></h2>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></i></span>
                        <span class="title">Staffs</span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span class="icon"><i class="fa fa-comments" aria-hidden="true"></i></i></span>
                        <span class="title">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span class="icon"><i class="fa fa-question" aria-hidden="true"></i></i></span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></i></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Searching here">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="staff">
                    <img src="image/TT.png">
                </div>
            </div>

            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="number">1024</div>
                        <div class="cardName">Daily Views</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="number">2048</div>
                        <div class="cardName">Comments</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="number">4069</div>
                        <div class="cardName">Sales</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="number">6969</div>
                        <div class="cardName">Earning</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="details">
                <div class="recentOrder">
                    <div class="cardHeader">
                        <h2>Recent Order</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Payment</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Staff Refrigerator</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status Delivered">Delivered</span></td>
                            </tr>
                            <tr>
                                <td>Window Coolers</td>
                                <td>$120</td>
                                <td>Due</td>
                                <td><span class="status Pending">Pending</span></td>
                            </tr>
                            <tr>
                                <td>Speakers</td>
                                <td>$210</td>
                                <td>Paid</td>
                                <td><span class="status Return">Return</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="recentCustomer">
                    <div class="cardHeader">
                        <h2>Recent Customer</h2>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="imgBx">
                                        <img src="image/TT.png">
                                    </div>
                                </td>
                                <td>
                                    <h4>David</h4> </br>
                                    <span>Vietnam</span>
                                </td>
                                <td>
                                    <div class="imgBx">
                                        <img src="image/TT1.jpg">
                                    </div>
                                </td>
                                <td>
                                    <h4>David</h4> </br>
                                    <span>Vietnam</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            toggle.classList.toggle('active')

            let navigation = document.querySelector('.navigation');
            navigation.classList.toggle('active')

            let main = document.querySelector('.main');
            main.classList.toggle('active')
        }
    </script>
</body>

</html>